.m-tabs-line.m-tabs-line--brand a.m-tabs__link.active, .m-tabs-line.m-tabs-line--brand a.m-tabs__link:hover, .m-tabs-line.m-tabs-line--brand.nav.nav-tabs .nav-link.active, .m-tabs-line.m-tabs-line--brand.nav.nav-tabs .nav-link:hover {
    color: #272630;
    border-bottom: unset;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav.m-menu__item.m-menu__item--open.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav.m-menu__item.m-menu__item--open.m-menu__link .m-menu__link-icon {
    color: #FEA625 !important;
}
@media (min-width: 1025px){
    .m-aside-left--minimize .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--hover>.m-menu__link>.m-menu__link-icon, .m-aside-left--minimize .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__link>.m-menu__link-icon {
        color: #FEA625 !important;
    }
}
a.nav-link.m-tabs__link.active.link1.active.link_btn1 {
    color: #152334 !important;
}
a.nav-link.m-tabs__link.link_btn2 {
    color: #152334 !important;
}
a.nav-link.m-tabs__link.link_btn3 {
    color: #152334 !important;
}

.row.back {
    background: white;
}
.main_containt {
    width: 97%;
    border: 1px solid lightgray;
    margin-top: 30px;
    margin-right: 50px;
    /* height: 780px; */
    background: #F8F8F8;
    position: relative;
}
.content_block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 30px;
}
.inquiries {
    position: relative;
    padding-top: 20px;
}
button#leads_filter {
    padding: 7px 20px 5px 20px;
    font-size: 17px;
    font-family: unset;
    font-weight: 600;
    color: #375C8E;
}
h6.inq_nm {
    font-size: 18px;
    font-family: unset;
    font-weight: 600;
}

.table_card {
    display: block;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid lightgray !important;
    margin: 30px;
    margin-top: 30px;
    margin-top: 0px;
    box-shadow: 1px 0px 3px lightgray;
    margin-bottom: 50px;
    background-color: #eff5fb;
}
.card.card-body {
    padding: 0px;
    margin-top: 0px;
    background-color: #f0f5fc;
}



tbody {
    display:block;
    height:500px;
    overflow:auto;
    background-color: white;
    margin-right: 8px;
    
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
    /* border-right: 2px solid #e9eaea; */
    /* border-right: 2px solid #e9eaea !important; */
}
thead {
    width: calc( 100% - 1em );
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #f4f5f8;
    border-right: 2px solid #e9eaea;
}

.main_card {
    margin-top: 20px;
    margin-left: 15px;
}
tbody#myList_table {
    background-color: white;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    height:1px;
}
::-webkit-scrollbar {
    width: 6px;
    background-color:#F8F8F8;
    margin-left: 2px;
}

::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
    margin-left: 2px;
}
td.m-datatable__cell--center.m-datatable__cell.m-datatable__cell--check {
    border-right: 1px solid lightgray;
}
td.m-datatable__cell--center.m-datatable__cell.m-datatable__cell--check {
    border-right: 1px solid lightgrey;
}
td.col_block11 {
    border-right: 1px solid lightgray;
}
th.sorted.block_header_last {
    border-right: unset !important;
}
tr.header_row_box {
    border-right: unset !important;
}

th.sorted.block_header {
    TEXT-ALIGN: center;
}
td.col_block11 {
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}
th.m-datatable__cell--center.m-datatable__cell.m-datatable__cell--check.check_block_hdr {
    width: 60px;
}
td.m-datatable__cell--center.m-datatable__cell.m-datatable__cell--check.check_block_hdr {
    width: 60px;
    border-left: unset;
}
.m-datatable__pager.m-datatable--paging-loaded.clearfix {
    display: flex;
    justify-content: space-between;
}
.m-datatable__pager-info {
    width: 100%;
}
.pagination_content {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    margin-top: -15px;
}
ul.pagination.justify-content-end.pagination-sm {
    margin-right: 20px;
}







#sidebar-wrapper-sendmail{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    background: #FFFFFF;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    overflow-y: auto;
    box-shadow: -3px 4px 14px lightgrey;
    top:0;
  }

  #sidebar-wrapper-sendmail.active {
    right: 250px;
    width: 800px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
  }












#sidebar-wrapper_container{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    background: #FFFFFF;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    overflow-y: auto;
    box-shadow: -3px 4px 14px lightgrey;
    top:0;
  }


#sidebar-wrapper_container.active {
    right: 250px;
    width: 900px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
  }
  
  #sidebar-wrapper_container{

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    background: #FFFFFF;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    overflow-y: auto;
    box-shadow: -3px 4px 14px lightgrey;
    top:0;
  }


#sidebar-wrapper_container.active {
    right: 250px;
    width: 900px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
  }

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.overlay1 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.flat_details {
    border: 1px solid lightgray;
    background-color: #5497F0;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 33px 15px;
}
h5.flat_cls {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: 20px;
}
.la.la-close {
        position: relative;
    top: 25px;
    font-size: 25px;
    font-weight: 700;
    float: right;
    cursor: pointer;
    right: 30px;
}
.row.side_bar {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
h6.cust_info {
    font-size: 18px;
    font-weight: 700;
}

.card.card-body.wrap_box {
    margin-left: 20px;
    height: 150px;
}

 tbody.box111 {
    height: 113px;
    width: 100%;
    justify-content: space-between;
    padding-left: 50px;
}

table.table_box {
    border: 1px solid lightgray;
    margin-left: 20px;
    margin-right: 20px;
}
tbody.box112 {
    height: 224px;
    width: 100%;
    justify-content: space-between;
}
td.table_col_blocks {
    padding-left: 50px;
}
tr.bottom_content {
    background-color: #F2F2F2;
    text-align: center;
    position: relative;
    top: 2px;
}
.row.side_bar1 {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
thead.head_block {
    width: 100%;
    background: #F2F2F2;
    text-align: center;
}
tbody.box113 {
    width: 100%;
    height: 75px;
}
th.table_heading_part {
    border-right: 1px solid lightgray;
}
td.table_body_part {
    border-right: 1px solid lightgray;
    text-align: center;
}
.edit_button {
    float: right;
    margin-right: 20px;
}
button#editbtn {
    padding: 5px 22px 2px 21px;
    font-size: 18px;
    background: #599FFD;
    color: white;
    font-weight: 700;
}
.btn.btn-default i, .btn.btn-secondary i {
    color: white;
    font-weight: 700;
    font-size: 17px;
    padding-right: 4px;
}


.nav.nav-pills, .nav.nav-tabs {
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    border-radius: 10px !important;
}
.m-tabs-line .m-tabs__item {
    margin-right: unset;
    margin-bottom: -1px;
}
.m-tabs-line .m-tabs__item {
    margin-right: unset;
    margin-bottom: -1px;
}
a.nav-link.m-tabs__link.link_btn2 {
    padding: 14px 30px 10px 30px;
}
a.nav-link.m-tabs__link.link_btn3 {
    padding: 14px 30px 10px 30px;
}
a.nav-link.m-tabs__link.active.link1.active.link_btn1 {
    padding: 14px 30px 10px 30px;
}

.nav.nav-pills .nav-item, .nav.nav-tabs .nav-item {
    margin-left: 0px;
}
.m-tabs-line.m-tabs-line--brand a.m-tabs__link.active, .m-tabs-line.m-tabs-line--brand a.m-tabs__link:hover, .m-tabs-line.m-tabs-line--brand.nav.nav-tabs .nav-link.active, .m-tabs-line.m-tabs-line--brand.nav.nav-tabs .nav-link:hover {
    background-color: #1976D2 !important;
    color: #FFFFFF !important;
    border-bottom: unset;
}

.card.card-body.block_box1 {
    margin-top: 15px;
    margin-left: 50px;
}
table.mat-elevation-z8.box_table_1.mat-table {
    position: relative;
    width: 100%;
    border: 1px solid lightgray;
    box-shadow: unset;
}
mat-card.block_card1.mat-card {
    margin-left: 35px;
    margin-top: 20px;
    margin-right: 15px;
    position: relative;
}
/* table.mat-elevation-z8.box_table_1.mat-table {
    text-align: center;
}
th.material-header-part.mat-header-cell.cdk-column-select.mat-column-select.ng-star-inserted {
    text-align: center;
}
th.mat-header-cell.cdk-column-position.mat-column-position.ng-star-inserted {
    text-align: center;
}
th.mat-header-cell.cdk-column-name.mat-column-name.ng-star-inserted {
    text-align: center;
}
button.mat-sort-header-button {
    padding-left: 150px !important;
} */

td.id_2.mat-cell.cdk-column-ID.mat-column-ID.ng-star-inserted {
    text-align: center;
}
td.c_id2.mat-cell.cdk-column-Customer_ID.mat-column-Customer_ID.ng-star-inserted {
    text-align: center;
}
/* td.c_date1.mat-cell.cdk-column-Created_Date.mat-column-Created_Date.ng-star-inserted {
    text-align: center;
} */
td.c_name2.mat-cell.cdk-column-Customer_Name.mat-column-Customer_Name.ng-star-inserted {
    text-align: center;
}
td.c_no2.mat-cell.cdk-column-Contact_No.mat-column-Contact_No.ng-star-inserted {
    text-align: center;
}
td.mode_2.mat-cell.cdk-column-Mode.mat-column-Mode.ng-star-inserted {
    text-align: center;
}
td.sec_source2.mat-cell.cdk-column-Secondary_Source.mat-column-Secondary_Source.ng-star-inserted {
    text-align: center;
}
td.pri_status2.mat-cell.cdk-column-Primary_Status.mat-column-Primary_Status.ng-star-inserted {
    text-align: center;
}
td.sec_status2.mat-cell.cdk-column-Secondary_Status.mat-column-Secondary_Status.ng-star-inserted {
    text-align: center;
}
/* th.id_1.mat-header-cell.ng-tns-c10-1.cdk-column-ID.mat-column-ID.ng-star-inserted {
    position: relative;
    left: 15px;
}
th.c_id1.mat-header-cell.ng-tns-c10-2.cdk-column-Customer_ID.mat-column-Customer_ID.ng-star-inserted {
    position: relative;
    left: 30px;
}
th.c_date1.mat-header-cell.ng-tns-c10-3.cdk-column-Created_Date.mat-column-Created_Date.ng-star-inserted {
    position: relative;
    left: 50px;
}
th.c_name1.mat-header-cell.ng-tns-c10-4.cdk-column-Customer_Name.mat-column-Customer_Name.ng-star-inserted {
    position: relative;
    left: 40px;
}
th.c_no1.mat-header-cell.ng-tns-c10-5.cdk-column-Contact_No.mat-column-Contact_No.ng-star-inserted {
    position: relative;
    left: 30px;
}
th.mode_1.mat-header-cell.ng-tns-c10-6.cdk-column-Mode.mat-column-Mode.ng-star-inserted {
    position: relative;
    left: 25px;
}
th.pri_status1.mat-header-cell.ng-tns-c10-8.cdk-column-Primary_Status.mat-column-Primary_Status.ng-star-inserted {
    position: relative;
    left: 40px;
}
th.sec_source_1.mat-header-cell.ng-tns-c10-7.cdk-column-Secondary_Source.mat-column-Secondary_Source.ng-star-inserted {
    position: relative;
    left: 60px;
}
th.sec_status1.mat-header-cell.ng-tns-c10-9.cdk-column-Secondary_Status.mat-column-Secondary_Status.ng-star-inserted {
    position: relative;
    left: 50px;
} */
thead {
    background-color: #eaf0f6 !important;
}
tr.mat-header-row.ng-star-inserted {
    background-color: #eaf0f6;
}

.mat-paginator-container {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
}
.id_1{
    position: relative;
    left: 15px;
}
.c_id1{
    position: relative;
    left: 30px;
}
.c_date1{
    position: relative;
    left: 50px;
}
.c_name1{
    position: relative;
    left: 40px;
}
.c_no1{
    position: relative;
    left: 30px;
}
.mode_1{
    position: relative;
    left: 25px;
}
.sec_source_1{
    position: relative;
    left: 60px;
}
.pri_status1{
    position: relative;
    left: 40px;
}
.sec_status1{
    position: relative;
    left: 50px;
}
.pagination_block{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.btn_box {
    display: flex;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: unset !important;
}

.bulkaction {
    border: 1px solid lightgray;
    width: 15%;
    float: right;
    position: relative;
    top: 15px;
    font-size: 17px;
    font-family: unset;
    font-weight: 600;
    color: #375C8E;
    background-color: #2196f3;
    height: 35px;
    padding: 0px 6px 0px 10px;
    border-radius: 50px;
    color: white;
}
span.mat-select-placeholder.ng-tns-c6-0.ng-star-inserted {
    color: white !important;
    position: relative;
    bottom: 4px!important;
}
.mat-select-arrow {
    position: relative;
    color: white!important;
    bottom: 4px!important;
}

.bulkbutton{
    color: white;
position: relative;
bottom: 4px;
}
.btn_box[_ngcontent-c5] {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-right: 15px;
 
}
span.mat-select-placeholder.ng-tns-c6-0.ng-star-inserted {
    color: white !important;
}
.btn_box {
    width: 90% !important;
}
h5.totalpages_content {
    position: relative;
    top: 10px;
    left: 5px;
}
.pagination_section1 {
    position: relative;
    right: 15px;
}
.ngx-pagination .current {
    background: #2199e8;
    color: #fefefe;
    padding: 1px 16px 1px 16px !important;
    cursor: default;
    border-radius: 25px !important;
}



.pagination_section {
    display: flex;
    justify-content: space-between;
}
.filter_pill {
    position: relative;
    right: 15px;
}






#leadsfilter.active {
    right: 250px;
    width: 455px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
  }


#leadsfilter {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: #FFFFFF;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
    top:0;
    box-shadow: -3px 4px 14px lightgrey;
  }

  .sidebar-nav {
    position: relative;
    top: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
    /* margin-bottom: 80px; */
    }


    .filter_1 {
        height: 39px;
        border-bottom: 1px solid lightgray;
    }
    input.datepicker_input_box {
        position: relative;
        width: 85%;
        left: 20px;
        top: 5px;
    }
    .sidebar_name {
        margin-top: 20px;
        position: relative;
        left: 20px;
        color: #B2B2B2;
    }

    .combobox {
        display: flex;
        justify-content: flex-end;
    }
    .reset_button {
        display: flex;
        position: relative;
        right: 20px;
        top: 20px;
    }

    button#clear {
        padding: 7px 20px 7px 20px;
        font-size: 17px;
        color: white;
        background-color: red;
        font-weight: 600;
        border: unset;
        font-family: unset;
    }
    button.btn.m-btn--pill.btn-secondary.btn-sm.submit_btn {
        padding: 7px 20px 7px 20px;
        font-size: 17px;
        color: white;
        background-color: green;
        font-weight: 600;
        border: unset;
        font-family: unset;
        position: relative;
    }

    a.m-portlet__nav-link.m-dropdown__toggle.btn.m-btn.m-btn--link {
        border: unset;
    }

    li.m-nav__item {
        padding: 5px;
    }
    span#menuclose20 {
        float: right;
    }
    .flat_name {
        width: 100%;
    }
    span#menuclose_sendmail {
        float: right;
    }

    ul {
        list-style-type: none;
    }

    input.radio1 {
        width: 40px;
        padding: 2px 2px 2px 2px;
    }
    h5.head1 {
        position: relative;
        top: 10px;
        left: 15px;
        margin-bottom: 20px;
    }

 .example-full-width{
    width: 50%;
    margin-left: 20px;
 }

h4.sidebar_filter_header_nm {
    position: relative;
    left: 20px;
}
   .filter_box_content {
    position: relative;
    margin-top: 80px;
}