<form class="example-form">
      <div class="heading_req">
            <h4 class="req1">approach-crm.clu.pw says</h4>
            <h5 class="msg">Are you sure want to make this call?</h5>
       </div> 
    <div class="button-row btns">
        <div class="btns_bunch">
        <button mat-button class="call_tab"><i class="material-icons call1">call</i>CALL</button>
        <button mat-button class="cancel_tab"><i class="material-icons cancel1">cancel</i>CANCEL</button>
        </div>
    </div>
</form>    