<div class="row back">
    <div class="maindiv">
            <div class="row">
                    <div class="col-md-5">
                        <div class="project_wise_nm">
                            <h4 class="project_nm">{{sitevisites.action_zone.name}}</h4>    
                        </div>
                    </div>
    
                    <div class="col-md-7">
                        <div class="Lead_summary">
                            <div class="refresh_icon">
                                    <button  type="button" class="icon_wrapper" (click)="refresh()" >
                                            <i class="flaticon-refresh"></i>
                                    </button>   
                            </div>
                            <div class="filter_pill">
                                <button id="menu-togglebtn" type="button" class="btn m-btn--pill btn-secondary btn-sm toggle">
                                        FILTER
                                </button>
                            </div>
                        </div>                        
                    </div>
            </div>   

            <div class="table_body">
                <div class="card card-body">
                        <div class="ps"   >
						
                            <div class="m-timeline-2">
                                <div class="m-timeline-2__items ">
                                    <div class="m-timeline-2__item">
                                        <span class="m-timeline-2__item-time">
                                            <b>{{sitevisites.date_time.date1}}</b>
                                        </span>
                                            <div class="m-timeline-2__item-cricle">
                                                <i class="fa fa-genderless m--font-danger"></i>
                                            </div>
                                        <div class="m-timeline-2__item-text  m--padding-top-5">
                                            <b>{{sitevisites.bold_nm.nm1}} </b> {{sitevisites.containt.row1}} <b> {{sitevisites.bold_nm.nm2}}</b>
                                        </div>
                                    </div>
                                    <div class="m-timeline-2__item m--margin-top-30">
                                        <span class="m-timeline-2__item-time">
                                           <b>{{sitevisites.date_time.date2}}</b>
                                        </span>
                                        <div class="m-timeline-2__item-cricle">
                                            <i class="fa fa-genderless m--font-success"></i>
                                        </div>
                                        <div class="m-timeline-2__item-text m-timeline-2__item-text--bold">
                                            {{sitevisites.containt.row2}} <b> {{sitevisites.bold_nm.nm3}}</b> 
                                        </div>
                                    </div>
                                    <div class="m-timeline-2__item m--margin-top-30">
                                        <span class="m-timeline-2__item-time">
                                            <b>{{sitevisites.date_time.date3}}</b>
                                        </span>
                                        <div class="m-timeline-2__item-cricle">
                                            <i class="fa fa-genderless m--font-brand"></i>
                                        </div>
                                        <div class="m-timeline-2__item-text m--padding-top-5">
                                            {{sitevisites.containt.row3}} <b> {{sitevisites.bold_nm.nm4}}</b> 
                                        </div>
                                    </div>
                                    <div class="m-timeline-2__item m--margin-top-30">
                                        <span class="m-timeline-2__item-time">
                                           <b>{{sitevisites.date_time.date4}}</b>
                                        </span>
                                        <div class="m-timeline-2__item-cricle">
                                            <i class="fa fa-genderless m--font-warning"></i>
                                        </div>
                                        <div class="m-timeline-2__item-text m--padding-top-5">
                                            {{sitevisites.containt.row4}} <b> {{sitevisites.bold_nm.nm4}}</b>
                                        </div>
                                    </div>
                                    <div class="m-timeline-2__item m--margin-top-30">
                                        <span class="m-timeline-2__item-time">
                                            <b>{{sitevisites.date_time.date5}}</b>
                                        </span>
                                        <div class="m-timeline-2__item-cricle">
                                            <i class="fa fa-genderless m--font-info"></i>
                                        </div>
                                        <div class="m-timeline-2__item-text m--padding-top-5">
                                               <b>{{sitevisites.bold_nm.nm5}} </b> {{sitevisites.containt.row5}}
                                        </div>
                                    </div>
                                    <div class="m-timeline-2__item m--margin-top-30">
                                        <span class="m-timeline-2__item-time">
                                           <b>{{sitevisites.date_time.date6}}</b>
                                        </span>
                                        <div class="m-timeline-2__item-cricle">
                                            <i class="fa fa-genderless m--font-brand"></i>
                                        </div>
                                        <div class="m-timeline-2__item-text m--padding-top-5">
                                               <b> {{sitevisites.bold_nm.nm5}} </b>  {{sitevisites.containt.row6}}
                                        </div>
                                    </div>
                                    <div class="m-timeline-2__item m--margin-top-30">
                                        <span class="m-timeline-2__item-time">
                                            <b>{{sitevisites.date_time.date7}}</b>
                                        </span>
                                        <div class="m-timeline-2__item-cricle">
                                            <i class="fa fa-genderless m--font-danger"></i>
                                        </div>
                                        <div class="m-timeline-2__item-text m--padding-top-5">
                                              <b>{{sitevisites.bold_nm.nm5}} </b> {{sitevisites.containt.row7}}
                                        </div>
                                    </div>

                                    <div class="m-timeline-2__item m--margin-top-30">
                                            <span class="m-timeline-2__item-time">
                                                <b>{{sitevisites.date_time.date8}}</b>
                                            </span>
                                            <div class="m-timeline-2__item-cricle">
                                                <i class="fa fa-genderless m--font-danger"></i>
                                            </div>
                                            <div class="m-timeline-2__item-text  m--padding-top-5">
                                                <b>{{sitevisites.bold_nm.nm5}} </b> {{sitevisites.containt.row8}}
                                            </div>
                                        </div>
                                        <div class="m-timeline-2__item m--margin-top-30">
                                            <span class="m-timeline-2__item-time">
                                               <b>{{sitevisites.date_time.date9}}</b>
                                            </span>
                                            <div class="m-timeline-2__item-cricle">
                                                <i class="fa fa-genderless m--font-success"></i>
                                            </div>
                                            <div class="m-timeline-2__item-text m-timeline-2__item-text--bold">
                                                <b>{{sitevisites.bold_nm.nm5}} </b>   {{sitevisites.containt.row9}}
                                            </div>
                                        </div>
                                        <div class="m-timeline-2__item m--margin-top-30">
                                            <span class="m-timeline-2__item-time">
                                                <b>{{sitevisites.date_time.date10}}</b>
                                            </span>
                                            <div class="m-timeline-2__item-cricle">
                                                <i class="fa fa-genderless m--font-brand"></i>
                                            </div>
                                            <div class="m-timeline-2__item-text m--padding-top-5">
                                                <b>{{sitevisites.bold_nm.nm5}} </b>   {{sitevisites.containt.row10}}
                                            </div>
                                         </div>   
                                        <div class="m-timeline-2__item m--margin-top-30">
                                            <span class="m-timeline-2__item-time">
                                               <b>{{sitevisites.date_time.date11}}</b>
                                            </span>
                                            <div class="m-timeline-2__item-cricle">
                                                <i class="fa fa-genderless m--font-warning"></i>
                                            </div>
                                            <div class="m-timeline-2__item-text m--padding-top-5">
                                                {{sitevisites.containt.row4}} <b> {{sitevisites.bold_nm.nm4}}</b>
                                            </div>
                                        </div>
                                        <div class="m-timeline-2__item m--margin-top-30">
                                            <span class="m-timeline-2__item-time">
                                                <b>{{sitevisites.date_time.date12}}</b>
                                            </span>
                                            <div class="m-timeline-2__item-cricle">
                                                <i class="fa fa-genderless m--font-info"></i>
                                            </div>
                                            <div class="m-timeline-2__item-text m--padding-top-5">
                                                   <b> {{sitevisites.bold_nm.nm5}} </b> {{sitevisites.containt.row5}}
                                            </div>
                                        </div>
                                        <div class="m-timeline-2__item m--margin-top-30">
                                            <span class="m-timeline-2__item-time">
                                               <b>{{sitevisites.date_time.date13}}</b>
                                            </span>
                                            <div class="m-timeline-2__item-cricle">
                                                <i class="fa fa-genderless m--font-brand"></i>
                                            </div>
                                            <div class="m-timeline-2__item-text m--padding-top-5">
                                                   <b> {{sitevisites.bold_nm.nm5}} </b>   {{sitevisites.containt.row6}}
                                            </div>
                                        </div>
                                        <div class="m-timeline-2__item m--margin-top-30">
                                            <span class="m-timeline-2__item-time">
                                                <b>{{sitevisites.date_time.date2}}</b>
                                            </span>
                                            <div class="m-timeline-2__item-cricle">
                                                <i class="fa fa-genderless m--font-danger"></i>
                                            </div>
                                            <div class="m-timeline-2__item-text m--padding-top-5">
                                                  <b>{{sitevisites.bold_nm.nm5}} </b> {{sitevisites.containt.row7}}
                                            </div>
                                        </div>

                                    </div>
                                </div> 
                    </div>
            </div>
        </div>   
        
        
        <div id="actionzone_sidebar">
            <div class="sidebar-nav">
              <span id="menu-close_btn" href="#" class="btn btn-default btn-lg pull-right toggle">
                <i class="la la-close filter_icon1"></i>
              </span> 
            </div>
            <div class="filter_1">
                <h4 class="sidebar_filter_header_nm">Filter</h4>
            </div>
            <div class="sidebar_name">
                <h5 class="date_range_nm">Date Range</h5>
            </div>
            <!-- <div class="datepicker_input">
                <input class="datepicker_input_box" type="text" name="daterange" value="01/01/2018 - 01/15/2018" />
                <a class="calender_icon">
                        <i class="flaticon-clock-2"></i>
                </a>
            </div> -->
           

            <div class="input-group pull-right" >
                <input id="reportrange" class="form-control m-input" placeholder="Select date range"  type="text">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="la la-calendar-check-o"></i>
                    </span>
                </div>
            </div>

            <!-- <button class="btn btn-default dropdown-toggle project_dropdown" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                Select Projects
        </button> 

     

        <div class="one">

                <form class="form_container" role="form">
                    <div class="form-group">
                      
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" class="check" id="checkAll"><b> Select All</b>
                          </label>
                        </div>
                        
                       <div class="checkbox">
                          <label>
                            <input type="checkbox" class="check"> WH Kensington
                          </label>
                        </div>
                          
                          
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" class="check"> WH London
                          </label>
                        </div>
                          
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" class="check"> WH Lincoln
                          </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="check"> WH Madison
                            </label>
                        </div>
                    
                    </div>    
                </form> 
        </div> -->
           
        <div class="combobox">
            <div class="reset_button">
                <button  type="button" class="btn m-btn--pill btn-sm reset_btn" id="clear" >
                        RESET
                </button>
             

                <div class="submit_button">
                    <button  type="button" class="btn m-btn--pill btn-secondary btn-sm submit_btn" >
                        SUBMIT
                    </button>
                </div>
             </div> 
        </div>    
        </div>     

       


    </div>
</div>
