<div class="row back">
    <div class="maindiv">
            <div class="row">
                    <div class="col-md-5">
                        <div class="project_wise_nm">
                            <h4 class="project_nm">{{sitevisites.repots.name}}</h4>    
                        </div>
                    </div>
    
                    <div class="col-md-7">
                        <div class="Lead_summary">
                            <div class="filter_pill">
                                <button id="leaderboard" type="button" class="btn m-btn--pill btn-secondary btn-sm toggle">
                                        FILTER
                                </button>
                            </div>
                        </div>                        
                    </div>
             </div> 

             <div class="table_card">
                <div class="card card-body">

                    <div class="table-wrapper-2">
                        <table class="table">
                            <thead class="table_head">
                                <tr role="row" class="main_header">
                                    <th colspan="3" rowspan="1" class="header_row">{{sitevisites.table_header.title}}</th>
                                </tr> 
                                <tr role="row" class="sub_header">
                                    <th rowspan="1" colspan="1" class="table_rows">{{sitevisites.table_header.name_1}}</th>
                                    <th rowspan="1" colspan="1" class="table_rows">{{sitevisites.table_header.name_2}}</th>
                                    <th rowspan="1" colspan="1" class="table_rows_last">{{sitevisites.table_header.name_3}}</th>
                                </tr>       
                            </thead>

                            <tbody class="table_content_body">
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_1}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_1}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_1}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_2}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_2}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_2}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_3}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_3}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_3}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_4}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_4}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_4}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_5}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_5}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_5}}</td>
                                </tr>     
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_6}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_6}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_6}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_7}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_7}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_7}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_8}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_8}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_8}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_9}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_9}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_9}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_10}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_10}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_10}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_11}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_11}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_11}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_12}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_12}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_12}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_13}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_13}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_13}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_14}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_14}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_14}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_15}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_15}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_15}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_16}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_16}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_16}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_17}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_17}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_17}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_18}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_18}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_18}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_19}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_19}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_19}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_20}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_20}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_20}}</td>
                                </tr> 
                                <tr>
                                    <td class="table_columns">{{sitevisites.table_content.rank_21}}</td>
                                    <td class="table_columns">{{sitevisites.table_content.name_21}}</td>
                                    <td class="table_columns_last">{{sitevisites.table_content.leads_21}}</td>
                                </tr> 
                            </tbody>    

                        </table>
                    </div>                
                </div>
            </div>   

            <div id="leaderboardfilter">
                    <div class="sidebar-nav">
                        <span id="menu-close_btn" href="#" class="btn btn-default btn-lg pull-right toggle">
                            <i class="la la-close filter_icon1"></i>
                        </span> 
                    </div>
                    <div class="filter_1">
                            <h4 class="sidebar_filter_header_nm">Filter</h4>
                    </div>
                    <div class="sidebar_name">
                        <h5 class="date_range_nm">Date Range</h5>
                    </div> 
                    <div class="input-group pull-right" >
                        <input id="reportrange" class="form-control m-input" placeholder="Select date range"  type="text">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="la la-calendar-check-o"></i>
                            </span>
                        </div>
                    </div>
                    <div class="sidebar_name">  
                        <h5 class="date_Range_box_sidebar">Select Projects</h5>
                    </div>
                    <div class="dropdown_bundle"> 
                            <button class="btn btn-default dropdown-toggle project_dropdown" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                                    Select Projects
                            </button> 
    
                         
    
                            <div class="one">
    
                                    <form class="form_container" role="form">
                                        <div class="form-group">
                                          
                                            <div class="checkbox">
                                              <label>
                                                <input type="checkbox" class="check" id="checkAll"><b> Select All</b>
                                              </label>
                                            </div>
                                            
                                           <div class="checkbox">
                                              <label>
                                                <input type="checkbox" class="check"> WH Kensington
                                              </label>
                                            </div>
                                              
                                              
                                            <div class="checkbox">
                                              <label>
                                                <input type="checkbox" class="check"> WH London
                                              </label>
                                            </div>
                                              
                                            <div class="checkbox">
                                              <label>
                                                <input type="checkbox" class="check"> WH Lincoln
                                              </label>
                                            </div>
    
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="check"> WH Madison
                                                </label>
                                            </div>
                                        
                                        </div>    
                                    </form> 
                            </div>    
                    </div>
                    <div class="combobox">
                        <div class="reset_button">
                            <button  type="button" class="btn m-btn--pill btn-sm reset_btn" id="clear" >
                                    RESET
                            </button>
                            
            
                            <div class="submit_button">
                                <button  type="button" class="btn m-btn--pill btn-secondary btn-sm submit_btn" >
                                    SUBMIT
                                </button>
                            </div>
                        </div> 
                    </div> 
             </div>   
             
                

        </div>
   </div>         