<div class="m-subheader navtitle" appunwraptag="">
	<div class="d-flex align-items-center">
		<div style="width: 100%;" class="navigation_menu">

		<ul id="m_quick_sidebar_tabs" class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand navtab " role="tablist">
			<li class="nav-item m-tabs__item navtab1">
				<a class="nav-link m-tabs__link active link1 active"  [routerLink]="['index/funfacts']" data-toggle="tab"   role="tab">
					<b>FUN FACTS</b>
				</a>
			</li>
			<li class="nav-item m-tabs__item navtab1">
					<a class="nav-link m-tabs__link" 	[routerLink]="['index/summary']"	data-toggle="tab" role="tab">
						<b>SUMMARY</b>
					</a>
			</li>
			<li class="nav-item m-tabs__item navtab1">
				<a class="nav-link m-tabs__link" data-toggle="tab" [routerLink]="['index/analytics']"  role="tab">
					<b> ANALYTICS</b>
				</a>
			</li>
			<li class="nav-item m-tabs__item navtab1">
					<a class="nav-link m-tabs__link" data-toggle="tab" [routerLink]="['index/inventory']"  role="tab">
						<b> INVENTORY</b>
					</a>
			  </li>
			  <li class="nav-item m-tabs__item navtab1">
					<a class="nav-link m-tabs__link" data-toggle="tab" [routerLink]="['index/leaderboard']" href="#m_quick_sidebar_tabs_logs" role="tab">
						<b> LEADER BOARD</b>
					</a>
			  </li>
			  <li class="nav-item m-tabs__item navtab1">
					<a class="nav-link m-tabs__link" data-toggle="tab" [routerLink]="['index/actionchange']"  role="tab">
							<b> ACTION CHANGES</b>
					</a>
			  </li>
		  </ul>
		</div>
	</div>
</div>
