.tabs-left, .tabs-right {
    padding-top: 0px;

}
.tabs-left {
    /*border-right: 1px solid #ddd;*/
}
.tabs-right {
    /*border-left: 1px solid #ddd;*/
}
.tabs-left>li, .tabs-right>li {
    float: none;
    margin-bottom: 2px;
}
.tabs-left>li {
    margin-right: -1px;
}
.tabs-right>li {
    margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
    border-left-color: transparent;
}
.tabs-left>li>a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display:block;
}
.tabs-right>li>a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}
.sideways {
    margin-top:50px;
    border: none;
    position: relative;
}
.sideways>li {
    height: 20px;
    width: 120px;
    margin-bottom: 100px;
}
.sideways>li>a {
    /*border-bottom: 1px solid #ddd;*/
    border-right-color: transparent;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
}
.sideways>li.active>a,
.sideways>li.active>a:hover,
.sideways>li.active>a:focus {
    border-bottom-color: transparent;
    border-right-color: #ddd;
    border-left-color: #ddd;
}
.sideways.tabs-left {
    left: -50px;
}
.sideways.tabs-right {
    right: -50px;
}
.sideways.tabs-right>li {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sideways.tabs-left>li {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.showTab{
    display: block !important;
}
.hideTab{
    display: none !important;
}

ul.nav.nav-tabs.tabs-left {
    display: block;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 17px 0px;
}
.col-xs-3 {
    width: 20%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 23px;
    padding-right: 2px;
    padding-left: -21px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #00b8ff;
    border-bottom-color: transparent;
}
.tabs-left>li, .tabs-right>li {
    float: none;
    margin-bottom: -1px;
    margin-left: -42px;
}
.mat-form-field-wrapper {
    width: 218px;
}
li.ng-star-inserted {
    border: 1px solid lightgray;
}
li.ng-star-inserted {
    padding: 3px 10px 3px 10px;
}
li.ng-star-inserted.active {
    background-color: #00b8ff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    border-bottom-color: transparent;
}
mat-grid-list.material_grid_box.mat-grid-list {
    width: 130%;
}
button.btn.m-btn--pill.btn-info.m-btn.m-btn--custom {
    float: right;
    margin-right: 20px;
    border: unset;
    font-family: unset;
    font-size: 17px;
    font-weight: 600;
}
.col-xs-3 {
    margin-top: 0px;
}
.panel-heading {
    background-color: #e1eaf7;
}
.col-xs-3 {
    background-color: #F2F2F2;
}
.col-md-12.side_bar_report {
    background-color: white;
}
.col-xs-9 {
    /* margin-bottom: -93px; */
    margin-top: 40px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color:#00b8ff;
    border: 0px solid #00b8ff;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}